<a href="https://colab.research.google.com/github/TGADEstadisticaI/EstadisticaI/blob/main/6%20Muestreo%20e%20IC/TGAD_Estad%C3%ADstica_Clase_U6_con_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<figure>
<center>
<img src='https://www.economicas.uba.ar/wp-content/uploads/2020/08/cropped-logo_FCE.png' />
</figure>

# **Universidad de Buenos Aires**
## **Facultad de Ciencias Económicas**

### **Estadística I**

### Cátedra: Bianco

#### **Resolución ejemplos U6 con Python**

***Material elaborado por la profesora Natalia Salaberry***

### **Librerías**

In [37]:
import pandas as pd
import requests
import numpy as np
import sympy
import statistics as ss
import math
from IPython.display import display, Math
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')
import seaborn as sns
from scipy.stats import t, chi2, norm

## Métodos de muestreo

### **Muestreo aletorio simple con reemplazo**

In [38]:
#Se crea un Dataframe donde A son los estratos y B los valores de alguna variable
df = pd.DataFrame(dict(
    A=[1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 3, 3, 4, 4, 4, 4, 4]
))

df

    A
0   1
1   1
2   1
3   1
4   1
5   1
6   1
7   2
8   2
9   2
10  2
11  2
12  2
13  3
14  3
15  4
16  4
17  4
18  4
19  4

In [39]:
#se toma una  muestra de 10 valores
df.sample(10, replace=True)

    A
0   1
4   1
9   2
1   1
3   1
10  2
2   1
0   1
5   1
17  4

### **Muestreo aletorio simple sin reemplazo**

In [40]:
#Se crea un Dataframe donde A son los estratos y B los valores de alguna variable
df = pd.DataFrame(dict(
    A=[1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 3, 3, 4, 4, 4, 4, 4]
))

df

    A
0   1
1   1
2   1
3   1
4   1
5   1
6   1
7   2
8   2
9   2
10  2
11  2
12  2
13  3
14  3
15  4
16  4
17  4
18  4
19  4

In [41]:
#se toma una  muestra de 10 valores
df.sample(10, replace=False)

    A
0   1
8   2
3   1
5   1
1   1
9   2
4   1
18  4
13  3
17  4

### **Muestreo aletorio estratificado**

In [42]:
data1=pd.DataFrame(np.repeat(1,150))
data2=pd.DataFrame(np.repeat(2,250))
data3=pd.DataFrame(np.repeat(3,300))
data4=pd.DataFrame(np.repeat(4,200))
data5=pd.DataFrame(np.repeat(5,100))

data=pd.concat([data1,data2,data3,data4,data5])
data.columns=['Grupo']
data['Individuos']=data['Grupo']
data

    Grupo  Individuos
0       1           1
1       1           1
2       1           1
3       1           1
4       1           1
..    ...         ...
95      5           5
96      5           5
97      5           5
98      5           5
99      5           5

[1000 rows x 2 columns]

In [43]:
#se crea una muestra de tamaño n=5, estratificada por la columna Grupo
muestra=data.groupby('Grupo', group_keys=False).apply(lambda x: x.sample(frac=0.1))
muestra

     Grupo  Individuos
129      1           1
85       1           1
143      1           1
144      1           1
105      1           1
..     ...         ...
79       5           5
1        5           5
56       5           5
46       5           5
74       5           5

[100 rows x 2 columns]

Lo verificamos:

In [44]:
#cantidades que debemos tener por estrato
round((100/1000)*data.groupby(data['Individuos']).count(),0)

            Grupo
Individuos
1            15.0
2            25.0
3            30.0
4            20.0
5            10.0

In [45]:
#observamos cuantos datos hay por estrato en la muestra generada

muestra.groupby(muestra['Grupo']).count()

       Individuos
Grupo
1              15
2              25
3              30
4              20
5              10

### **Muestreo aleatorio por conglomerado**

In [46]:
#Se crea un Dataframe donde A son los estratos y B los valores de alguna variable
df = pd.DataFrame(dict(
    A=[1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 3, 3, 4, 4, 4, 4, 4],
    B=range(20)
))

df

    A   B
0   1   0
1   1   1
2   1   2
3   1   3
4   1   4
5   1   5
6   1   6
7   2   7
8   2   8
9   2   9
10  2  10
11  2  11
12  2  12
13  3  13
14  3  14
15  4  15
16  4  16
17  4  17
18  4  18
19  4  19

In [47]:
df['A'].unique()

array([1, 2, 3, 4])

In [48]:
np.random.seed(2024)

# Número de conglomerados a seleccionar
n_conglomerados = 4  # Por ejemplo, seleccionamos 4 conglomerados al azar

# Seleccionar conglomerados aleatorios
conglomerados_seleccionados = np.random.choice(df['A'].unique(), n_conglomerados, replace=False)

# Fijar cantidad de elementos dentro de cada conglomerado
n_elementos_por_conglomerado = 5  # Por ejemplo, seleccionamos 5 elementos por conglomerado
#si tengo 20 elementos y especifiqué 4 conglomerados, quiero que haya 5 elementos por conglomerado

# Crear un DataFrame para almacenar las filas seleccionadas
muestra_2_etapas = pd.DataFrame()

# Para cada conglomerado seleccionado
for conglomerado in conglomerados_seleccionados:
    # Filtrar los elementos del conglomerado
    df_conglomerado = df[df['A'] == conglomerado]
    # Seleccionar una muestra aleatoria con reemplazo dentro del conglomerado
    muestra_conglomerado = df_conglomerado.sample(n=n_elementos_por_conglomerado, random_state=1, replace=True)
    # Agregar la muestra del conglomerado a la muestra total
    muestra_2_etapas = pd.concat([muestra_2_etapas, muestra_conglomerado])

# Observar la muestra final generada
muestra_2_etapas

    A   B
12  2  12
10  2  10
11  2  11
7   2   7
8   2   8
18  4  18
19  4  19
15  4  15
16  4  16
18  4  18
14  3  14
14  3  14
13  3  13
13  3  13
14  3  14
5   1   5
3   1   3
4   1   4
0   1   0
1   1   1

De donde se observa que al haber muestreado con reemplazo hay filas más de una vez dentro de un conglomerado, como por ejemplo en el caso del conglomerado creado 4 (columa A), la fila 18; o en el conglomerado creado 3, la fila 13 y 14

### **Muestreo sistemático**

In [49]:
#Se crea un Dataframe donde A son los estratos y B los valores de alguna variable
df = pd.DataFrame(dict(
    A=[1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 3, 3, 4, 4, 4, 4, 4],
    B=range(20)
))

df

    A   B
0   1   0
1   1   1
2   1   2
3   1   3
4   1   4
5   1   5
6   1   6
7   2   7
8   2   8
9   2   9
10  2  10
11  2  11
12  2  12
13  3  13
14  3  14
15  4  15
16  4  16
17  4  17
18  4  18
19  4  19

In [50]:
indexes = np.arange(0, len(df), step=5)
#arbitrariamente se indica tomar un valor cada 5 filas

systematic_sample = df.iloc[indexes]

systematic_sample

    A   B
0   1   0
5   1   5
10  2  10
15  4  15

## Muestreo

### Ejemplo situación 1

Sea X una variable aleatoria normal. Hallar el mínimo tamaño de muestra
que se debe tomar si se quiere que la probabilidad de que la media muestral sea menor que la
media poblacional más 1/3 del desvío estándar, sea mayor que 0,9505.

In [51]:
display(Math(r'X \sim N(\mu; \sigma)'))
print('')
display(Math(r'{P(\bar X < \mu + {1\over 3} \sigma)} =0.9505=> {P(\bar X - \mu< {1\over 3} \sigma)} =0.9505 => P({\bar X - \mu \over {\sigma \over \sqrt n}} < {{1\over 3} \sigma \over {\sigma \over \sqrt n}}) =0.9505 =>'))
print('')
display(Math(r'P({\bar X - \mu \over {\sigma \over \sqrt n}} < {{1\over 3} \sqrt n}) =0.9505 => {{1\over 3} \sqrt n}='+str(round(norm.ppf(0.9505,0,1),3))+'=>n=(1.65*3)^2='+str(round((1.65*3)**2,0))))

### Ejemplo situación 2

Supongamos que la cantidad de cereal que se coloca en cada caja es una
variable aleatoria normalmente distribuida con media 500 gramos y desvío estándar igual a 20
gramos. Para verificar que el peso promedio de cada caja se mantiene en 500 gramos se toma
una muestra aleatoria de 25 cajas y se pesa el contenido de cada una. El gerente de la planta ha
decidido detener el proceso y encontrar la falla cada vez que el valor promedio de la muestra
sea mayor a 510 gramos o menor a 490 gramos. Obtener la probabilidad de detener el proceso.

In [52]:
display(Math(r'{P(\bar X > 510)+P(\bar X < 490)} ={1-P(\bar X < 510)+P(\bar X < 490)} => 1-P(Z< {510-500 \over {20 \over \sqrt {25}}})+P(Z< {490-500 \over {20 \over \sqrt {25}}}) =>'))
print('')
display(Math(r' 1-P(Z<2.5)+P(Z<-2.5)=1-P(Z<2.5)+1-P(Z<2.5)='+str(round(2-2*norm.cdf(2.5,0,1),4))))

### Ejemplo situación 3.1

Supongamos que el gobierno de un país está interesado en controlar la
emisión de CO2 de los automóviles para proteger el medio ambiente. Para ello, ha intimado a
las empresas a que la emisión debe ser de como máximo de 140 gramos por kilómetro al
finalizar el corriente año.
Al finalizar el año, el gobierno empieza a realizar los controles correspondientes, para lo cual
tomará muestras de 20 coches en cada fábrica. Supongamos que en la muestra correspondiente
a la fábrica A se observó una media de 143 g/km. y un desvío estándar de 5 g/km. Si la emisión
de CO2 de los coches de la fábrica A sigue una distribución Normal ¿Cuál es la probabilidad de
que la empresa esté violando el requisito del gobierno?

In [53]:
display(Math(r'X \sim N( \mu ; \sigma)'))
print('')
display(Math(r'P(\bar X \geq 143)= 1-P(Z< {143 - 140  \over {5 \over \sqrt {20}}})=1-P(Z<2.6833)='+str(round(1-t.cdf(2.6833,20),2))))

### Ejemplo situación 3.2

Sea X- N(𝜇, 𝜎). Si se toman muestras aleatorias de tamaño 49, cada
muestra con distribución normal. Calcular la probabilidad de que la media muestral no difiera
en más de 2,011 de la media poblacional.

In [54]:
display(Math(r'X \sim N( \mu ; \sigma)'))
print('')
display(Math(r'{P(\bar X - \mu < 2.011} = {P({\bar X - \mu \over {S \over \sqrt n}}< 2.011 )} ='+str(round(t.cdf(2.011,48),3))))

### Ejercicio 4

Consideremos una medición de rendimiento financiero de un activo, en donde el
interés recae en la variabilidad de su cotización. Supongamos que, basados sobre la
experiencia, la medición es una variable aleatoria normalmente distribuida con media 10 y
desvío standard igual a 0,1 unidades. Si se toma una muestra aleatoria de tamaño 25, ¿cuál
es la probabilidad de que el valor de la variabilidad muestral sea mayor de 0,013833
unidades cuadradas?

In [55]:
display(Math(r'X \sim N(10;0.1) => {(n-1)S^2 \over \sigma^2} \sim \chi_{n-1}^2'))
print('')
display(Math(r'P(S^2>0.014)= 1- P(S^2<0.014)=1- P(\chi^2< {(25-1)*0.014 \over {0.1^2}})=1-P(\chi^2< 33.2)='+str(round(1-chi2.cdf(33.2,24),1))))

### Ejercicio 5

Supongamos que, en una empresa, la proporción de productos fallados en la
producción diaria es de 0,10. ¿Cuál es la probabilidad de que, si se extraen 100 artículos, la
proporción muestral de artículos fallados sea menor al 6%?

In [56]:
display(Math(r'X \sim N(\mu; \sigma) => {\bar p - p \over \sqrt {p(1-p) \over n }} \sim N(0:1)'))
print('')
display(Math(r'P( \bar p <0.06)= P(Z< {0.06 - 0.1 \over \sqrt {0.1(1-0.1) \over 100 }})=1-P(Z< -1.333)= 1- [1-P(Z<1.333)]=P(Z<1.333)='+str(round(1-norm.cdf(1.333,0,1),4))))

## Intervalos de Confianza

### Vamos a crear funciones para el cálculo de los intervalos

In [57]:
def IC_MEDIA_VARCON(media_muestral, desv_pob, N, alfa):
  import scipy.stats as ss
  ESTADÍSTICO= ss.norm.ppf(1-(alfa/2), 0, 1)
  Li=media_muestral - ESTADÍSTICO*(desv_pob/(N**0.5))
  Ls=media_muestral + ESTADÍSTICO*(desv_pob/(N**0.5))
  if Li>Ls:
    intervalo='ERROR'
  else:
    INTERVALO=(Li, Ls)
    from IPython.display import display, Math
    intervalo=display(Math('IC['+str(round(INTERVALO[0],4))+'\leq \mu \leq'+ str(round(INTERVALO[1],4))+']='+str(1-alfa)))
  return intervalo

In [58]:
def IC_MEDIA_VARDESCON(media_muestral, desv_muestral, N, alfa):
  import scipy.stats as ss
  ESTADÍSTICO= ss.t.ppf(1-(alfa/2), N-1)
  Li=media_muestral - ESTADÍSTICO*(desv_muestral/(N**0.5))
  Ls=media_muestral + ESTADÍSTICO*(desv_muestral/(N**0.5))
  if Li>Ls:
    intervalo='ERROR'
  else:
    INTERVALO=(Li, Ls)
    from IPython.display import display, Math
    intervalo=display(Math('IC['+str(round(INTERVALO[0],4))+'\leq \mu \leq'+ str(round(INTERVALO[1],4))+']='+str(1-alfa)))
  return intervalo

In [59]:
def IC_VARIANZA(media_muestral, desv_muestral, N, alfa):
  import scipy.stats as ss
  ESTADÍSTICO_1= ss.chi2.ppf(1-(alfa/2), N-1)
  ESTADÍSTICO_2= ss.chi2.ppf((alfa/2), N-1)
  Li=(N-1)*(desv_muestral**2) / ESTADÍSTICO_1
  Ls=(N-1)*(desv_muestral**2) / ESTADÍSTICO_2
  if Li <0 or Li>Ls:
    intervalo='ERROR'
  else:
    INTERVALO=(Li, Ls)
    from IPython.display import display, Math
    intervalo=display(Math('IC['+str(round(INTERVALO[0],4))+'\leq \sigma^2 \leq'+ str(round(INTERVALO[1],4))+']='+str(1-alfa)))
  return intervalo

In [60]:
def IC_PROPORCION(proporcion_muestral, N, alfa):
  import scipy.stats as ss
  ESTADÍSTICO= ss.norm.ppf(1-(alfa/2))
  Li=proporcion_muestral-ESTADÍSTICO*((proporcion_muestral*(1-proporcion_muestral)/N)**0.5)
  Ls=proporcion_muestral+ESTADÍSTICO*((proporcion_muestral*(1-proporcion_muestral)/N)**0.5)
  if Li<0 or Ls>1 or Li>Ls:
    intervalo='ERROR'
  else:
    INTERVALO=(Li, Ls)
    from IPython.display import display, Math
    intervalo=display(Math('IC['+str(round(INTERVALO[0],4))+'\leq p \leq'+ str(round(INTERVALO[1],4))+']='+str(1-alfa)))
  return intervalo

### Ejemplo 1

Una empresa proveedora de gas en una ciudad decide hacer un estudio para
determinar la cantidad de gas gastada para calefacción casera durante un año. Con tal motivo
se selecciona una muestra de 64 hogares de la ciudad. Se supone que el gasto por consumo
domiciliario de gas sigue una distribución normal. La media muestral del gasto en gas para
calefacción resultó de $\$836$. Se sabe por experiencia que el desvío estándar de la población es
$\$178$. Hallar un intervalo de con fianza del 95% para el gasto promedio anual de gas en las
viviendas de esta ciudad.

In [61]:
IC_MEDIA_VARCON(836, 178, 64, 0.05)

### Ejemplo 1.1

Un investigador desea determinar mediante un intervalo de confianza del 95% y
una longitud de 3000 pesos, el salario medio mensual del sector gastronómico de determinada
ciudad. Por estudios anteriores se sabe que los salarios siguen una distribución normal con
desvío estándar de 10000 pesos. ¿Qué tamaño de muestra debería utilizar?.

In [62]:
display(Math(r'X \sim N(\mu; 10000)'))
print('')
display(Math(r'n=({2*Z_{1-{\alpha \over 2}}*\sigma \over L})^2='+str(round(((2*norm.ppf(0.975,0,1)*10000)/3000)**2,0))))

### Ejemplo 2

Con el fin de determinar la edad media de alumnos que cursan una carrera
determinada en un Universidad, se tomó una muestra de 20 alumnos, obteniéndose una
media de 23 años y un desvío de 3,5 años. Si la edad en un estudio se distribuye normalmente,
hallar un intervalo de confianza para la verdadera media con un nivel de confianza del 95%.

In [63]:
IC_MEDIA_VARDESCON(23, 3.5, 20, 0.05)

### Ejemplo 3

Una agencia de alquiler de autos quiere estudiar la distribución de los kilómetros
diarios que realiza su flota. Para eso, a lo largo de varios días, se anotan los recorridos de cien
vehículos de su flota y se obtiene que la media muestral es de 165km/día y que el desvío
estándar muestral es 6km/día. Suponiendo que la distribución de los km recorridos es normal
con media conocida, hallar un intervalo de con confianza del 90% para la varianza de la
distribución.

In [64]:
IC_VARIANZA(165, 6, 100, 0.1)

### Ejemplo 4

En una investigación de mercados que involucró encuestar a 100 personas se
detectó que el 40% de los consumidores prefieren los productos de la marca A frente a los de
otras marcas sustitutas.
Construir un intervalo de confianza del 95% para la proporción poblacional.

In [65]:
IC_PROPORCION(0.4, 100, 0.05)

### Ejemplo 4.1

Continuando con el ejemplo anterior, supongamos que antes de recopilar los
datos se especificó que la estimación a través de un intervalo del 95% de confianza debería
tener una precisión del 5% ¿Cuál tendría que ser el tamaño de la muestra que debería
tomarse?

In [66]:
display(Math(r'n=({Z_{1-{\alpha \over 2}} \over \epsilon})^2 * \bar p*(1-\bar p)='+str(round(((norm.ppf(0.975,0,1)/0.05)**2)*0.4*0.6,0))))

## Intervalos de Confianza con dos poblaciones

### Vamos a crear funciones para el cálculo de los intervalos

In [67]:
def IC_DIFMEDIAS_VARCON(mm_1, mm2, vp_1, vp_2, N_1, N_2, alfa):
  import scipy.stats as ss
  ESTADÍSTICO= ss.norm.ppf(1-(alfa/2), 0, 1)
  Li=(mm_1-mm2)-(ESTADÍSTICO*(((vp_1/N_1)+(vp_2/N_2))**0.5))
  Ls=(mm_1-mm2)+(ESTADÍSTICO*(((vp_1/N_1)+(vp_2/N_2))**0.5))
  if Li>Ls:
    intervalo='ERROR'
  else:
    INTERVALO=(Li, Ls)
    from IPython.display import display, Math
    intervalo=display(Math('IC['+str(round(INTERVALO[0],4))+'\leq \mu_{1} - \mu_{2} \leq'+ str(round(INTERVALO[1],4))+']='+str(1-alfa)))
  return intervalo

In [68]:
def IC_DIFMEDIAS_VARDESCON(mm_1, mm_2, vm_1, vm_2, N_1, N_2, alfa):
  import scipy.stats as ss
  ESTADÍSTICO= ss.t.ppf(1-(alfa/2),N_1+N_2-2)
  Sp=((((N_1-1)*vm_1)+((N_2-1)*vm_2))/(N_1+N_2-2))**0.5
  Li=(mm_1-mm_2)-ESTADÍSTICO*Sp*(((1/N_1)+(1/N_2))**0.5)
  Ls=(mm_1-mm_2)+ESTADÍSTICO*Sp*(((1/N_1)+(1/N_2))**0.5)
  if Li>Ls:
    intervalo='ERROR'
  else:
    INTERVALO=(Li, Ls)
    from IPython.display import display, Math
    intervalo=display(Math('IC['+str(round(INTERVALO[0],4))+'\leq \mu_{1} - \mu_{2} \leq'+ str(round(INTERVALO[1],4))+']='+str(1-alfa)))
  return intervalo

In [69]:
def IC_DIFPROPORCION(pm_1, pm_2, N_1, N_2, alfa):
  import scipy.stats as ss
  ESTADÍSTICO= ss.norm.ppf(1-(alfa/2))
  Sp=((((1-pm_1)*pm_1)/N_1)+(((1-pm_2)*pm_2)/N_2))**0.5
  Li=(pm_1-pm_2)-ESTADÍSTICO*Sp
  Ls=(pm_1-pm_2)+ESTADÍSTICO*Sp
  if Li<0 or Ls>1 or Ls<Li:
    intervalo='ERROR'
  else:
    INTERVALO=(Li, Ls)
    from IPython.display import display, Math
    intervalo=display(Math('IC['+str(round(INTERVALO[0],4))+'\leq p_{1} - p_{2} \leq'+ str(round(INTERVALO[1],4))+']='+str(1-alfa)))
  return intervalo

### Ejemplo 5

Supongamos que se extrae una muestra con con 20 de varones y 30 de mujeres.
Las medias es las muestra son 1,8 mts y 1,7 mts respectivamente. Si la distribución de
estaturas de mujeres es Normal con desvío estándar de 15 cm (o 0,15 mts) e independiente de
las estaturas de varones con desvío estándar 10cm (o 0,10 m), ¿cuál es el IC al 99% para la
diferencia de las medias?

In [70]:
IC_DIFMEDIAS_VARCON(1.8, 1.7, 0.15**2, 0.1**2, 20, 30, 0.01)

### Ejemplo 6

Supongamos que se extrae una muestra con 20 de varones y 30 de mujeres. Las
medias de la estatura en las muestra son 1,8 mts y 1,7 mts respectivamente. Los desvíos
muestrales son 0,064 y 0,09 respectivamente. Si la distribución de estaturas de personas es
Normal, ¿cuál es el IC al 95% para la diferencia de las medias?

In [71]:
IC_DIFMEDIAS_VARDESCON(1.8, 1.7, 0.064**2, 0.09**2, 20, 30, 0.05)

### Ejemplo 7

Suponga que, en una encuesta tomada a 500 personas en la ciudad A, 350
respondieron que apoyan al candidato A. Supongamos que en otra ciudad B se encuesta a 300
personas, y resulta que 150 están a favor del candidato A. ¿Cuál es el IC al 95% para la
diferencia entre las proporciones de ambas ciudades?

In [72]:
IC_DIFPROPORCION(350/500, 150/300, 500, 300, 0.05)